{% extends 'baseform.html' %}

{% block content %}
{% load static %}


        <!-- Page title -->
        <section id="page-title" data-bg-parallax="{% static 'images/para2.jpg' %}" >
            <div class="container" >
                <div class="container-fullscreen">
                    <div class="text-middle text-center text-end">
                        <span style="font-weight: 900 !important;color:white !important"><p class="lead" data-animate="fadeInDown" data-animate-delay="300" style="font-weight: 900 !important;color:white !important">Editez votre profile d'artiste</p></span>
                    </div>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="index.html">Acceuil</a> </li>
                        <li class="active">Mon profile </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- end: Page title -->
        <!-- CONTENT -->
        <section style="color: white !important;background-color:#111111">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="text-uppercase" data-animate="fadeInDown" data-animate-delay="300" style="color: white !important;">Vous pouvez modifer vos informations avec ce formulaire</Address>
                        </h3>
                        <hr class="space">
                        <h3 class="text-uppercase" data-animate="fadeInDown" data-animate-delay="300" style="color: white !important;">Les photos doivent etre de bonne qualite<br> Sur votre profile , la forme de photo conseilee est la forme <strong>"CARREE"</strong></Address>
                        </h3>
                        
                    </div>


                    <div class="col-lg-6">
                        <div class="row">
                            <!-- partial:index.partial.html -->
                        <hr class="space">

                            <form action="{% url 'profile' user.id %}" class='form' data-animate="fadeInDown" method="post"  enctype="multipart/form-data" data-animate-delay="300">
                                {% csrf_token %}
                                <p class='field required'>
                                    <label class='label required' for='nom'>nom</label>
                                    <input class='text-input' id='nom' name='nom' value="{{utilisateur.nom}}" style="font-size: 14.5px;" required type='text'
                                        placeholder="Votre nom d'utilisateur">
                                </p>

                                <p class='field required'>
                                    <label class='label required' for='email'>email</label>
                                    <input class='text-input' id='email' name='email' value="{{user.email}}" style="font-size: 14.5px;" required type='text'
                                        >
                                </p>
                               
                                <p class='field required'>
                                    <label class='label required' for='whatsapp'>whatsapp</label>
                                    <input class='text-input' id='whatsapp' name='whatsapp' value="{{utilisateur.whatsapp}}" style="font-size: 14.5px;" required type='text'
                                        placeholder="Votre numero whatsapp">
                                </p>
                                <p class='field'>
                                    <label class='label required' for='facebook'>Lien facebook</label>
                                    <input class='text-input' id='facebook' name='facebook' value="{{utilisateur.facebook}}" style="font-size: 14.5px;"  type='text'
                                        placeholder="lien de votre profile facebook">
                                </p>
                                <p class='field'>
                                    <label class='label required' for='instagram'>Lien instagram</label>
                                    <input class='text-input' id='instagram' name='instagram' value="{{utilisateur.instagram}}" style="font-size: 14.5px;"  type='text'
                                        placeholder="lien de votre profile instagram">
                                </p>
                                <p class='field'>
                                    <label class='label required' for='photo1'>si vous voulez changer votre photo</label>
                                    <input class='text-input' id='photo1' name='photo1'  type='file'
                                        accept=".png, .jpg, .jpeg">
                                </p>
                                <p class='field'>
                                    <label class='label' for='bio'>Une petite biographie</label>
                                    <textarea class='textarea' cols='50' id='bio' name='bio'> {{utilisateur.bio}} </textarea>
                                </p>
                               

                                <p class='field half'>
                                    <input class='button' type='submit' value='Mettre a jour'>
                                </p>
                            </form>
                            <!-- partial -->

                        </div>
                        <!-- Google Map -->
                        <!-- <div class="map" data-latitude="" data-longitude="" data-style="light" data-info="Hello from &lt;br&gt; C"></div> -->
                        <!-- end: Google Map -->
                    </div>
                </div>
            </div>



        </section>


        <!-- end: Content -->
 
        {% endblock %}