<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Posax" />
    <meta name="description" content="Art collection from PosaX">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>PosaX | Votre Galerie d'Art </title>
    <!-- Stylesheets & Fonts -->
    <link href="{% static 'css/plugins.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'formulaire/css/normalize.min.css' %}">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Titillium+Web:400,700'><link rel="stylesheet" href="{% static 'formulaire/css/style.css' %}">
</head>
<body style="background-color: #1E2022;">


    <!-- Body Inner -->
    <div class="body-inner">

        <!-- Header -->
        <header id="header" data-transparent="true" data-fullwidth="true" class="header-mini dark">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo" data-animate="fadeInDown" data-animate-delay="300"> <a href="index.html"><span class="logo-default">PosaX</span><span class="logo-dark">PosaX</span></a> </div>
                    <!--End: Logo-->
                    <!-- Search -->
                    <div id="search"><a id="btn-search-close" class="btn-search-close" aria-label="Close search form"><i class="icon-x"></i></a>
                        <form class="search-form" action="{% url 'Recherche' %}" method="POST">
                            {% csrf_token %}
                            <input class="form-control" name="sujet" type="text" placeholder="Recherchez..." />
                            <span class="text-muted">Recherchez & pressez "Enter" ou "ESC" pour fermer</span>
                        </form>
                    </div>
                    <!-- end: search -->
                    <!--Header Extras-->
                    <div class="header-extras">
                        <ul>
                            <li>
                                <a id="btn-search" href="#"> <i class="icon-search"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!--end: Header Extras-->
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger"> <a class="lines-button x"><span class="lines"></span></a> </div>
                    <!--end: Navigation Resposnive Trigger-->
                    <!--Navigation-->
                    <div id="mainMenu">
                        <div class="container">
                            <nav>
                                <ul>
                                    <li><a href="{% url 'index' %}">Acceuil</a></li>
                                    <li><a href="{% url 'about' %}">A propos de nous</a></li>
                                    <li class="dropdown mega-menu-item"><a href="#">Artistes</a>
                                        <ul class="dropdown-menu">
                                            <li class="mega-menu-content">
                                                <div class="row">
                                                    
                                                    {% if user.is_authenticated %}
                                                    <div class="col-lg-1-2">
                                                        <ul>
                                                            <li class="mega-menu-title">Profil Artiste</li>
                                                            <li><a href="{% url 'logout' %}">Se deconnecter</a></li>
                                                            <li><a href="{% url 'profile' user.id %}">Completez votre profile</a></li>
                                                            <li><a href="{% url 'liste_artistes' %}">Liste des Artistes</a></li>

                                                            
                                                        </ul>
                                                    </div>
                                                    {% else %}
                                                    <div class="col-lg-1-2">
                                                        <ul>
                                                            <li class="mega-menu-title">Etes-vous un artiste ?</li>
                                                            <li><a href="{% url 'inscription' %}">S'inscrire</a></li>
                                                            <li><a href="{% url 'connexion' %}">Se Connecter</a></li>

                                                            <li class="mega-menu-title">Etes-vous un client ?</li>
                                                            <li><a href="{% url 'liste_artistes' %}">Liste des Artistes</a></li>
                                                        </ul>
                                                    </div>
                                                    {% endif %}
                                                        
                                                    
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                    {% if user.is_authenticated  %}
                                            
                                    <li class="dropdown"><a href="#">Publier</a>
                                        <ul class="dropdown-menu">
                                                    <li><a href="{% url 'publier_article' %}">Ecrire un article</a></li>
                                                    <li><a href="{% url 'publier_oeuvre' %}">Poster une oeuvre</a></li>
                                                    <li><a href="#">Vos publications</a></li>
                                         </ul>
                                    </li>
                                    {% endif %}
                                    
                                    <li><a href="https://wa.me/+23765886669">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->














        {% block content %}

        {% endblock %}














        
        <!-- FOOTER -->
        <footer class="inverted" id="footer">
            <div class="copyright-content">
                <div class="container">
                    <div class="row">
                        <div class="copyright-text text-center"> &copy; 2024 PosaX - Your Gallery. All Rights Reserved. </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: FOOTER -->
    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>

    <!--Plugins-->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>

    <!--Template functions-->
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'formulaire/js/jquery.min.js' %}"></script>
    <script src="{% static 'formulaire/js/jquery.customSelect.min.js' %}"></script>
    <script src='https://codepen.io/mican/pen/XgRmNr.js'></script>

</body>

</html>
