{% extends 'base.html' %}

{% block content %}
{% load static %}


        <!-- Page title -->
        <section id="page-title" data-bg-parallax="images/BackgroundColor.jpg">
            <div class="container">
                <div class="container-fullscreen">
                    <div class="text-middle text-center text-end">
                        <p class="lead" data-animate="fadeInDown" data-animate-delay="300">About us</p>
                    </div>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a> </li>
                        <li class="active">About us </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- end: Page title -->

        
         <!-- About us -->
         <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-12">
                        <h4>About us</h4>
                        <h3>Welcome to our online gallery, a sanctuary for artists to archive their exhibitions and a creative space to celebrate diverse talents.</h3>
                        <p class="lead">Our mission is to provide a platform that opens doors for aspiring talents, fostering diversity in local contemporary art genres. The gallery is dedicated to preserving the essence of the artistic endeavours of both established and emerging artists and showcasing their captivating works, with a particular focus on supporting and nurturing the uprooted artists.</p>
                        
                    </div>

                    <div class="col-lg-6 offset-1 m-t-40">
                        <div class="row">
                            
                            <!-- features box -->
                            <div class="col-lg-6">
                                <h4>Core Value</h4>
                                <p>Our gallery acts as a bridge, connecting artists from various regions, backgrounds, and spiritual beliefs. It aims to foster the cross-pollination of ideas and the formation of artistic bonds, strives to break down barriers and create a truly inclusive space for art.</p>
                            </div>
                            <!-- end: features box -->

                            <!-- features box -->
                            <div class="col-lg-6">
                                <h4>Special Interest</h4>
                                <p>We hold a deep appreciation for the spiritual dimensions of artistic expression. We firmly believe that art has the power to transcend the mundane and touch the depths of our souls. Our gallery aims to elevate collective consciousness about the profound intertwining of spirituality and art. </p>
                            </div>
                            <!-- end: features box -->

                            <!-- features box -->
                            <div class="col-lg-6">
                                <h4>Other Services</h4>
                                <p>In addition to our exhibitions, we facilitate engaging conversations around art through discussions, critiques, and reflections. Our dedicated team provides thoughtful analysis and insights, encouraging a deeper connection with the artwork and fostering a sense of community within our virtual gallery.</p>
                            </div>
                            <!-- end: features box -->

                            <!-- features box -->
                            <div class="col-lg-6">
                                <h4>Join us</h4>
                                <p>Whether you are an artist, collector, or simply an art enthusiast, we invite you to explore our virtual gallery and immerse yourself in the beauty and creativity of contemporary art. Join us on this exciting journey as we support emerging artists, nurture regional art genres, and build a vibrant community that celebrates artistic expression in all its forms.</p>
                            </div>
                            <!-- end: features box -->


                        </div>
                    </div>
                    <!-- end features box -->
                </div>
            </div>
        </section>
        <!-- end: About us -->

 
        {% endblock %}