{% extends 'base.html' %}

{% block content %}
{% load static %}

<!-- Titre de la page -->
<section id="page-title" data-bg-parallax="{% static 'images/BackgroundColor.jpg' %}">
    <div class="container">
        <div class="container-fullscreen">
            <div class="text-middle text-center text-end">
                <p class="lead" data-animate="fadeInDown" data-animate-delay="300">À propos de nous</p>
            </div>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="{% url 'index' %}">Accueil</a></li>
                <li class="active">À propos de nous</li>
            </ul>
        </div>
    </div>
</section>
<!-- Fin du titre de la page -->

<!-- À propos de nous -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <h4>À propos de nous</h4>
                <h3>Bienvenue chez POSAX, un sanctuaire en ligne pour les artistes souhaitant archiver leurs expositions et un espace créatif célébrant les talents diversifiés.</h3>
                <p class="lead">Notre mission est de fournir une plateforme ouvrant des portes aux talents émergents, favorisant la diversité dans les genres artistiques contemporains locaux. POSAX est dédié à préserver l'essence des efforts artistiques des artistes établis et émergents, et à présenter leurs œuvres captivantes, avec un accent particulier sur le soutien et la promotion des artistes déracinés.</p>
            </div>

            <div class="col-lg-6 offset-lg-1 m-t-40">
                <div class="row">
                    <!-- Valeur fondamentale -->
                    <div class="col-lg-6">
                        <h4>Valeur fondamentale</h4>
                        <p>Notre galerie agit comme un pont, connectant des artistes de diverses régions, origines et croyances spirituelles. Elle vise à favoriser la pollinisation croisée des idées et la formation de liens artistiques, en s'efforçant de briser les barrières et de créer un espace véritablement inclusif pour l'art.</p>
                    </div>
                    <!-- Fin de la valeur fondamentale -->

                    <!-- Intérêt spécial -->
                    <div class="col-lg-6">
                        <h4>Intérêt spécial</h4>
                        <p>Nous avons une profonde appréciation pour les dimensions spirituelles de l'expression artistique. Nous croyons fermement que l'art a le pouvoir de transcender le banal et de toucher les profondeurs de nos âmes. Notre galerie vise à élever la conscience collective sur l'interconnexion profonde entre la spiritualité et l'art.</p>
                    </div>
                    <!-- Fin de l'intérêt spécial -->

                    <!-- Autres services -->
                    <div class="col-lg-6">
                        <h4>Autres services</h4>
                        <p>En plus de nos expositions, nous facilitons des conversations engageantes autour de l'art à travers des discussions, des critiques et des réflexions. Notre équipe dédiée fournit des analyses et des perspectives réfléchies, encourageant une connexion plus profonde avec les œuvres d'art et favorisant un sentiment de communauté au sein de notre galerie virtuelle.</p>
                    </div>
                    <!-- Fin des autres services -->

                    <!-- Rejoignez-nous -->
                    <div class="col-lg-6">
                        <h4>Rejoignez-nous</h4>
                        <p>Que vous soyez un artiste, un collectionneur ou simplement un amateur d'art, nous vous invitons à explorer notre galerie virtuelle et à vous immerger dans la beauté et la créativité de l'art contemporain. Rejoignez-nous dans ce voyage passionnant alors que nous soutenons les artistes émergents, nourrissons les genres artistiques régionaux et construisons une communauté vibrante qui célèbre l'expression artistique sous toutes ses formes.</p>
                    </div>
                    <!-- Fin de Rejoignez-nous -->
                </div>
            </div>
            <!-- Fin des boîtes de fonctionnalités -->
        </div>
    </div>
</section>
<!-- Fin de À propos de nous -->

{% endblock %}
