{% extends 'base.html' %}

{% block content %}
{% load static %}

<!-- SECTION IMAGE FULLSCREEN -->
<section id="page-title" data-bg-parallax="{% static 'images/BackgroundColor.jpg' %}">
    <div class="container">
        <div class="container-fullscreen">
            <div class="text-middle text-center text-end">
                <p class="lead" data-animate="fadeInDown" data-animate-delay="300">{{ artist.nom }}</p>
            </div>
        </div>
        <div class="text-light accordion accordion-simple">
            <div class="ac-item">
                <h1 class="ac-title">Petite Biographie</h1>
                <div class="ac-content">
                    <p>{{ artist.bio }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: SECTION IMAGE FULLSCREEN -->

<!-- Writing -->
<section class="background-dark text-light p-b-100">
    <div class="container">
        <div class="text-center m-b-60">
            <h3 class="text-center">Articles Écrits</h3>
        </div>
        <div id="blog" class="grid-layout post-items-transparent post-3-columns m-b-30" data-item="post-item">
            {% for article in articles %}
            <!-- Post item-->
            <div class="post-item border">
                <div class="post-item-wrap">
                    <div class="post-image">
                        <img alt="" src="{{ article.Photo.url }}">
                        <span class="post-meta-category">{{ article.category }}</span>
                    </div>
                    <div class="post-item-description">
                        <h2>{{ article.titre }}</h2>
                        <p>{{ article.paragraphe1 }}</p>
                        <a href="#" class="item-link"><i class="fa fa-arrow-right"></i> Details </a>
                    </div>
                </div>
            </div>
            <!-- end: Post item-->
            {% endfor %}
        </div>
    </div>
</section>
<!-- end: Writing -->

<!-- GALLERY -->
{% for category, artworks in categories.items %}
<section id="page-content" style="background-color:#000410;margin-top:10px">
    <div class="container">
        <div class="row">
            <div class="content col-lg-12 center">
                <!-- Gallery Carousel -->
                <h4 class="mb-4 text-light">{{ category }}</h4>
                <div id="portfolio" class="grid-layout portfolio-3-columns" data-margin="10" data-lightbox="gallery">
                    {% for artwork in artworks %}
                    <!-- portfolio item -->
                    <div class="portfolio-item img-zoom">
                        <div class="portfolio-item-wrap">
                            <div class="portfolio-image carousel dots-inside dots-dark arrows-dark" data-items="1" data-loop="true" data-autoplay="true" data-animate-in="fadeIn" data-animate-out="fadeOut" data-autoplay="1500">
                                
                                <a href="#"><img src="{{ artwork.Photo1.url }}" alt=""></a>
                                <a href="#"><img src="{{ artwork.Photo2.url }}" alt=""></a>
                                <a href="#"><img src="{{ artwork.Photo3.url }}" alt=""></a>
                                <a href="#"><img src="{{ artwork.Photo4.url }}" alt=""></a>

                            </div>
                            <div class="portfolio-description">
                               
                                <a title="{{ artwork.titre }} {{ artwork.date }}" data-lightbox="gallery-image" href="{{ artwork.Photo1.url }}"><i class="fa fa-expand"></i></a>
                                <a title="{{ artwork.titre }} {{ artwork.date }}" data-lightbox="gallery-image" href="{{ artwork.Photo2.url }}"></a>
                                <a title="{{ artwork.titre }} {{ artwork.date }}" data-lightbox="gallery-image" href="{{ artwork.Photo3.url }}"></a>

                                <a title="{{ artwork.titre }} {{ artwork.date }}" data-lightbox="gallery-image" href="{{ artwork.Photo4.url }}"></a>



                            </div>
                        </div>
                    </div>
                    <!-- end: portfolio item -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}
<!-- end: GALLERY -->

<!-- Contact -->
<section class="background-dark text-light p-b-100 text-center">
    <div class="container">
        <div class="m-b-60">
            <h3 class="text-center">Contactez l'Artiste</h3>
        </div>
        <div class="align-center"> 
            <a class="background-dark text-light btn btn-xs btn-slide btn-light" href="{{ artist.instagram_link }}" data-width="118">
                <i class="fab fa-instagram"></i>
                <span>Instagram</span>
            </a>
            <a class="background-dark text-light btn btn-xs btn-slide btn-light" href="{{ artist.facebook_link }}" data-width="118">
                <i class="fab fa-facebook"></i>
                <span>Facebook</span>
            </a>
            <a class="background-dark text-light btn btn-xs btn-slide btn-light" href="{{ artist.whatsapp_link }}" data-width="170">
                <i class="fab fa-whatsapp"></i>
                <span>Whatsapp</span>
            </a>
        </div>
    </div>
</section>
<!-- end: Contact -->

{% endblock %}
