{% extends 'base.html' %}

{% block content %}
{% load static %}


        <!-- SECTION IMAGE FULLSCREEN -->
        <section class="fullscreen" style="height: 800px;"  data-bg-parallax="{% static 'homepages/photography/images/parallax/1.jpg' %}">
            <div class="container">
                <div class="container-fullscreen" >
                    <div class="text-middle text-light text-end" id="titrecont">
                        <h1 data-animate="fadeInUp" data-animate-delay="700" class="text-lg-light m-b-5" id="titre">Bienvenue sur
                            <br style="font-weight: 900;" />PosaX</h1>
                            
                            {% if user.is_authenticated %}
                        <h3 class="font-nothing-you-could-do" id="cont">Content de vous revoir , Artiste {{user.nom}}</h3>
                                
                            {% else %}
                        <h3 class="font-nothing-you-could-do" id="cont">Un instant pour profiter de MAINTENANT.</h3>
                                
                            {% endif %}
                                
                    </div>
                </div>
            </div>
        </section>
        <!-- end: SECTION IMAGE FULLSCREEN -->

        
        
        <!-- PARALLAX -->
        <section class="p-t-200 p-b-200" data-bg-parallax="{% static 'images/para1.jpg' %}">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="text-light text-end">
                    <h2 class="text-medium m-b-5">Explorez la Galerie</h2>
                    <h3 class="font-nothing-you-could-do">Découvrez tout ce que nos artistes ont à vous proposer</h3>
                    <a href="https://www.altiba9.com/platfrom-interviews-for-artists/zhengyuan-gao-painting-poetic-scenes" class="item-link">Explorer <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </section>
        <!-- end: PARALLAX -->


        <!-- PARALLAX -->
        <section class="p-t-200 p-b-200" data-bg-parallax="{% static 'images/para4.jpg' %}">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="text-light">
                    <h2 class="text-medium m-b-5">Profil de PosaX </h2>
                    <h3 class="font-nothing-you-could-do">Parcourez le profile de PosaX lui-même, et découvrez ce qu'il vous propose</h3>
                    <a href="mysticism-pre.html" class="item-link">Parcourir <i class="fa fa-arrow-right"></i></a>
                    <br>
                    <a href="https://github.com/zhengyuan-gao/zhengyuan-gao.github.io/blob/main/files/Gao_Mysticism_2024.pdf?raw=true" class="item-link">Discuter avec PosaX (Whatsapp) <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </section>
        <!-- end: PARALLAX -->
        

        <!-- BLOG -->
        <section class="p-b-100 background-dark text-light">

            <div class="container">
                <div class="text-center m-b-60">
                    <h2 class="text-lg">Derniers Articles Ecrits</h2>
                </div>
                <div id="blog" class="grid-layout post-items-transparent post-3-columns m-b-30" data-item="post-item">


                 
                 {% for article in articles %}
                       
                       <!-- Post item-->
                       <div class="post-item border">
                           <div class="post-item-wrap">
                               <div class="post-image">
                                       <img alt="" src="{{article.Photo.url}}">
                                   <a href="{% url 'DetailArtiste' article.Auteur.id %}"><span class="post-meta-category">{{article.Auteur.nom}}</span></a>
                               </div>
                               <div class="post-item-description">
                                   <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Depuis le {{article.date}}</span>
                                   <h2>{{article.titre}}</h2>
                                   <p>{{article.paragraphe1 | slice:100}}...</p>
                                   <a href="{% url 'detail_article' article.id %}" class="item-link">Details <i class="fa fa-arrow-right"></i></a>
                               </div>
                           </div>
                       </div>
                       <!-- end: Post item-->
                 {% endfor %}
                    

              
                

                    
                </div>
            </div>
        </section>
        <!-- BLOG -->




        
        {% endblock %}