{% extends 'base.html' %}

{% block content %}
{% load static %}


        <!-- Page title -->
        <section id="page-title" data-bg-parallax="images/BackgroundColor.jpg">
            <div class="container">
                <div class="container-fullscreen">
                    <div class="text-middle text-center text-end">
                        <p class="lead" data-animate="fadeInDown" data-animate-delay="300">Listes de nos Artistes</p>
                    </div>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="index.html">Acceuil</a> </li>
                        <li class="active">Liste des Artistes </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- end: Page title -->
        <section>
            <div class="container">
                <!--Icon Lists-->
                <div class="heading-text heading-line text-center">
                    <h4>Liste des Artistes</h4>
                </div>
                <section id="section-portfolio">
                    <div class="container">
                        
                        <div class="row team-members team-members-shadow m-b-40">
                            <div class="col-lg-6">
                                <div class="team-member">
                                    <div class="team-image">
                                        <img src="homepages/photography/images/exhibition/2023-1/dandi.jpeg">
                                    </div>
                                    <div class="team-desc">
                                        <h3>Dandi Gu</h3>
                                        <p>Full time artist, base in Shanghai</p>
                                        <div class="align-center">
                                            <a class="btn btn-xs btn-slide btn-light" style="color: green;" href="https://www.instagram.com/tianyi_liu_olive/" data-width="118">
                                                <i class="fab fa-whatsapp"></i>
                                                <span>Whatsapp</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="team-member">
                                    <div class="team-image">
                                        <img src="homepages/photography/images/exhibition/2023-1/maoer.jpeg">
                                    </div>
                                    <div class="team-desc">
                                        <h3>Olive (Mao'er)</h3>
                                        <p>Full time artist, base in Beijing </p>
                                        <div class="align-center">
                                            <a class="btn btn-xs btn-slide btn-light" href="https://www.instagram.com/tianyi_liu_olive/" data-width="118">
                                                <i class="fab fa-whatsapp"></i>
                                                <span>Whatsapp</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="team-member">
                                    <div class="team-image">
                                        <img src="homepages/photography/images/exhibition/2023-1/maoer.jpeg">
                                    </div>
                                    <div class="team-desc">
                                        <h3>Olive (Mao'er)</h3>
                                        <p>Full time artist, base in Beijing </p>
                                        <div class="align-center">
                                            <a class="btn btn-xs btn-slide btn-light" href="https://www.instagram.com/tianyi_liu_olive/" data-width="118">
                                                <i class="fab fa-whatsapp"></i>
                                                <span>Whatsapp</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </section>
            </div>
        </section>

  
        {% endblock %}