{% extends 'base.html' %}

{% block content %}
{% load static %}


        <!-- Page title -->
        <section id="page-title" data-bg-parallax="{% static 'images/para1.jpg' %}">
            <div class="container">
                <div class="container-fullscreen">
                    <div class="text-middle text-center text-end">
                        <p style="font-size: 28px;color:white;font-weight:900" data-animate="fadeInDown" data-animate-delay="300">Listes de nos Artistes</p>
                    </div>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="index.html">Acceuil</a> </li>
                        <li class="active">Liste des Artistes </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- end: Page title -->
        <section>
            <div class="container">
                <!--Icon Lists-->
                <div class="heading-text heading-line text-center">
                    <h4>Liste des Artistes</h4>
                </div>
                <section id="section-portfolio">
                    <div class="container">
                        
                        <div class="row team-members team-members-shadow m-b-40">
                            
                            {% for artist in artistes %}
                                <div class="col-lg-6">
                                    <div class="team-member">
                                        <div class="team-image">
                                            <!-- ici on doit mettra sa photo -->
                                             
                                            <img src="{{artist.photo.url}}">
                                        </div>
                                        <div class="team-desc">
                                            <a href="{% url 'DetailArtiste' artist.id %}"><h3>{{artist.nom}}</h3></a>
                                            <p>Artiste, email : {{artist.email}}</p>
                                            <div class="align-center">
                                                <a class="btn btn-xs btn-slide btn-light" style="color: green;" href="https://wa.me/{{artist.whatsapp}}" data-width="118">
                                                    <i class="fab fa-whatsapp"></i>
                                                    <span>Whatsapp</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                                
                           
                           
                        </div>
                    </div>
                </section>
            </div>
        </section>

  
        {% endblock %}